body {
    margin: 0;
    overflow: scroll;
}

#app{
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.container{
    height: auto;
}

.layout-container_menu{
    grid-template-columns: 6rem auto;
    grid-area: menu;
    overflow-y: auto;
    overflow-x: hidden;
}

.layout-container{
    display: grid;
    grid-template-areas:
        "menu header"
        "menu content"
        "menu footer";
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px auto;
    height: auto;
    transition: .5s all ease;
    position: relative;
}

.layout-container_header{
    grid-area: header;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 81, 81);
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem #00000012;
}

[data-1] {
    box-sizing: border-box;
}

.layout-container_aside{
    grid-area: menu;
    vertical-align: top;
    background-color: rgb(19, 81, 81);
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.layout-container_footer{
    display: flex;
}

.header{
    align-items: center;
}

.main_menu__logo{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.logo-svg {
    width: 2.5rem;
    height: 2.5rem;
}

.logo {
    font-size: 40px;
    padding-left: 1rem;
}

.main_menu__divider{
    height: 1.5px;
    width: auto;
    background-color: #fff;
    margin: 0.5rem 1rem 1rem;
    transition: .5s all ease;
}

.main_menu__navigation{
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    list-style: none;
}

ul {
    list-style: none;
    text-align: center;
}

ul li{
    display: flex;
    padding-bottom: 2em;
    transition: transform .6s ease;
}

ul a{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.1em;
    min-height: 25px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
}

ul i{
    height: 1em;
    margin-right: 1em;
    -o-object-fit: contain;
    object-fit: contain;
    width: 1em;
    text-align: center;
}

ul li:hover, ul a:hover{
    color: gray;
    transform: scale(1.1);
}

.footer_divider{
    height: 1.5px;
    width: auto;
    background-color: #fff;
    margin: 0.5rem 1rem 1rem;
    transition: .5s all ease;
}

.layout-container_footer{
    grid-area: footer;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2e2e2e;
    box-shadow: 0 0.5rem 1rem #00000012;
    white-space: nowrap; /* Предотвращение переноса текста на новую строку */
}

.footer{
    height: auto;
    display: flex;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
    color: white;
}

.first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1em;
}

.second{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layout-container_content {
    flex: 1;
    grid-area: content;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
}