{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="all-content">
        <div class="developer">
            <img src="{% static 'main/image/dev.jpg' %}" alt="logo" class="img">
            <h1 class="prof">1C-программист</h1>
            <h5 class="about">1С-разработчик -- это человек, специализирующийся на создании и поддержке программных продуктов на базе платформы "1С:Предприятие". Он играет ключевую роль в автоматизации бизнес-процессов предприятий, используя инструменты и технологии, предоставляемые 1С.</h5>
        </div>
        <div class="container-duties">
            <h2 class="duties">Обязанности</h2>
            <div class="text-duties">
                <div class="box">
                    <h5 class="text stretch">Разработка и модификация программ, адаптированных к конкретным потребностям заказчика. Это включает в себя анализ бизнес-процессов предприятия, определение требований пользователей, проектирование баз данных, разработку отчетов и форм, а также интеграцию с другими информационными системами.</h5>
                </div>
                <div class="box">
                    <h5 class="text stretch">1С-разработчик отвечает за обучение пользователей, поддержку и сопровождение разработанных решений. Он должен быть готов к постоянному обновлению своих знаний, учитывая постоянное развитие технологий 1С.</h5>
                </div>
                <div class="box">
                    <h5 class="text stretch">1С-разработчик должен успешно внедрять и адаптировать программные продукты 1С к уникальным потребностям компании. Это требует глубокого понимания бизнес-логики заказчика, а также умения строить эффективные взаимосвязи между различными модулями системы.</h5>
                </div>
            </div>
        </div>
        <div class="container-skills">
            <h2 class="skills">Навыки</h2>
            <div class="slider">
                <button class="prev" onclick="changeSlide(-1)">❮</button>
                <div class="slides">
                    <h5 class="slide visible">1С-разработчик должен обладать глубокими знаниями конфигураций 1С:Предприятие, включая платформу 1С:Enterprise, язык программирования 1C:Script, а также уметь использовать инструменты разработки, такие как конфигуратор и дизайнер. Он также должен быть знаком с методологиями разработки и тестирования, чтобы обеспечивать высокое качество разрабатываемых продуктов.</h5>
                    <h5 class="slide">Эффективный 1С-разработчик обладает аналитическим мышлением, творческим подходом к решению задач, коммуникабельностью и ответственностью.</h5>
                    <h5 class="slide">Еще одной важной характеристикой 1С-разработчика является его способность к оптимизации процессов. Он должен постоянно совершенствовать разработанные продукты, повышая их производительность и устойчивость. Это требует внимания к новым технологиям, а также готовности к быстрым адаптациям в условиях постоянно меняющегося ИТ-пространства.</h5>       
                </div>
                <button class="next" onclick="changeSlide(1)">❯</button>
            </div> 
        </div>  
    </div>
    <script>
        let currentSlide = 0;
        showSlide(currentSlide);
    
        function changeSlide(n) {
            showSlide(currentSlide += n);
        }
    
        function showSlide(n) {
            let slides = document.getElementsByClassName("slide");
    
            if (n >= slides.length) {
                currentSlide = 0;
            } else if (n < 0) {
                currentSlide = slides.length - 1;
            } else {
                currentSlide = n;
            }
    
            for (let i = 0; i < slides.length; i++) {
                slides[i].classList.remove("visible");
            }
    
            slides[currentSlide].classList.add("visible");
        }
    </script>
{% endblock %}