{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>
<body>
    <aside>
        <span class="logo">qaZar's site</span>
        <h3 class="navigation">Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i> Главная</li></a>
            <a href="{% url 'relevance' %}"><li><i class="fa-solid fa-arrow-up"></i> Востребованность</li></a>
            <a href="{% url 'geography' %}"><li><i class="fa-solid fa-earth-americas"></i> География</li></a>
            <a href="{% url 'skills' %}"><li><i class="fa-solid fa-filter"></i> Навыки</li></a>
            <a href="{% url 'recent' %}"><li><i class="fa-solid fa-envelope"></i> Вакансии</li></a>
        </ul>
    </aside>
    <main>
        <div class="header">
            <div class="top-header"></div>
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
