{% extends 'main/layout.html' %}

{% block title %}
    Навыки
{% endblock %}

{% block content %}
    <div class="cont">
        {% for el in skills %}
            <div class="rel">
                <h2 style="font-size: 2.5em;
                            display: flex;
                            justify-content: center;">
                    {{ el.title }}
                </h2>
                <div class="table" style="font-family: 'Roboto Mono', monospace;
                font-size: 1.2em;
                font-weight: 400;
                display: flex;
                justify-content: center;
                margin: 1em;">
                    {{ el.table|safe }}
                </div>
                <div style="display: flex;
                justify-content: center;">
                    <img src="{{ el.img.url }}" style="height: 35em;
                    width: 70%;
                    object-fit: cover;
                    margin-bottom: 1em;">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}